.gauge {
  background-color: transparent;
  border: 1px dashed var(--secondary-color);
  width: 100%;
  aspect-ratio: 1 / 1;
  padding: 0.5rem;
}
.gaugeGridLines {
  fill: transparent;
  stroke: var(--secondary-color);
  stroke-width: 0.7px;
  stroke-dasharray: 5 2;
}
.indicatorLine {
  stroke: var(--secondary-color);
  stroke-width: 2px;
}
.strokeCircle {
  fill: var(--primary-color);
  fill: transparent;
  stroke: var(--primary-color);
  stroke-width: 2px;
}
.indicatorCircle {
  fill: transparent;
  stroke: var(--secondary-color);
  stroke-width: 1.1px;
}
