@import "tailwindcss";

/* Apply styling to the entire body */
body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  margin: 0;
  padding: 0.5rem 1rem;
}

/* Styling for the app container */
#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

/* Define custom properties (CSS variables) */
:root {
  --primary-color: black;
  --secondary-color: red;
  --secondary-color-descreet: brown;
  --text-color: var(--secondary-color);
  background-color: var(--primary-color);
}

.pageContents {
  background-color: transparent;
  display: flex;
  flex-grow: 1;
  gap: 1rem;
}
